# ==========================================
# CONFIGURACIÓN GENERAL
# ==========================================
PORT=3000
NODE_ENV=development

# ==========================================
# POSTGRES - BASE DE DATOS COMPARTIDA
# ==========================================
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

SEGURIDAD_URL=
SEGURIDAD_GRAPHQL_URL=
SEGURIDAD_API_KEY=

INVENTARIO_URL=
INVENTARIO_API_KEY=

CUENTASXCOBRAR_URL=
CUENTASXCOBRAR_API_KEY=
CUENTASXCOBRAR_SALIDA_URL=

API_KEY_PARA_CXC=
